<section id="extras" class="body">
	<div class="blogroll">
		<h2>Important Links</h2>
		<ul>
			<li><a href="http://refinerycms.com/" rel="external">RefineryCMS.com</a></li>
			<li><a href="http://demo.refinerycms.com/" rel="external">Refinery Demo</a></li>
			<li><a href="http://github.com/resolve/refinerycms" rel="external/">GitHub Repository</a></li>
			<li><a href="http://groups.google.com/group/refinery-cms/" rel="external">Google Group</a></li>
			<li><a href="http://api.refinerycms.org/" rel="external">API Documentation</a></li>
			<li><a href="irc://irc.freenode.net/refinerycms/" rel="external">IRC Channel</a></li>	
		</ul>
	</div><!-- /.blogroll -->
	
	<div class="social">
		<h2>Connect</h2>
		<ul>
			<li><a href="http://refinerycms.com/blog/" rel="alternate">blog</a></li>
			<li><a href="http://twitter.com/refinerycms/" rel="me">twitter</a></li>
		</ul>
	</div><!-- /.social -->
</section><!-- /#extras -->
