<footer id="contentinfo" class="body">
	<address id="about" class="vcard body">
		<span class="primary">
			<strong><a href="http://refinerycms.com" class="fn url">Refinery CMS</a></strong>
			<span class="role">Manage Your Site. Easily.</span>
		</span><!-- /.primary -->
	
		<img src="{% unless page.title == 'home' %}.{% endunless %}./images/logo.jpg" alt="Resolve Digital Logo" class="photo" />
	
		<span class="bio">Refinery CMS was created by <a href="http://resolvedigital.com">Resolve Digital</a> and improved upon by many members of the open source community.</span>	
	</address><!-- /#about -->
	<p>2005-2010 <a href="http://resolvedigital.com">Resolve Digital</a>.</p>
</footer><!-- /#contentinfo -->
