<aside id="featured" class="body">
  <article>
	  <a href="http://refinerycms.com"><figure>
      <%= image_tag "logo-small-medium.png", :theme => true, :alt => "Refinery CMS Logo" %>
	  </figure></a>
	  <hgroup>
		  <h2>Newest Tutorial</h2>
		  <h3><a href=".{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h3>
	  </hgroup>
	  <p>{{ site.posts.first.description }}</p>
  </article>
</aside><!-- /#featured -->