<footer id="contentinfo" class="body">
	<address id="about" class="vcard body">
		<span class="primary">
			<strong><a href="http://refinerycms.com" class="fn url">Refinery CMS</a></strong>
			<span class="role">Manage Your Site. Easily.</span>
		</span>

    <%= image_tag "logo.jpg", :theme => true, :class => "photo" %>

		<span class="bio">Refinery CMS was created by <a href="http://resolvedigital.com">Resolve Digital</a> and improved upon by many members of the open source community.</span>
	</address>
  <p class="left">This site runs on <%= link_to "RefineryCMS", "http://refinerycms.com" %> and its source is on <%= link_to "Github", "http://github.com/stevenheidel/refinerycms-tutorials" %>.</p>
  <p class="right">&copy; <%= Time.now.year %> <a href="http://livingskyweb.ca">Living Sky Web</a>.</p>
</footer>