<header id="banner" class="body">
  <h1><%= link_to "#{RefinerySetting[:site_name]}<br /><span>#{RefinerySetting.find_or_set(:site_tagline, "Tagline")}</span>", root_url %></h1>
  <%= render :partial => "/shared/menu" %>
</header><!-- /#banner -->