<header id="banner" class="body">
  <h1><%= link_to "#{RefinerySetting[:site_name]}<br /><span>#{RefinerySetting[:site_tagline]}</span>", root_url %></h1>
  <%= render :partial => "/shared/menu" %>
</header><!-- /#banner -->