<%
cache("#{Refinery.base_cache_key}_#{RefinerySetting.find_or_set(:refinery_menu_cache_action_suffix, "site_menu")}_#{request.path}") do
  if (collection ||= @menu_pages).any?
-%>
    <nav id='<%= dom_id ||= "menu" %>' class='<%= [css ||= "menu", 'clearfix'].join(' ') %>'>
      <% @menu_pages.each do |menu_branch| %>
      <li<%= " class='active'" if selected_page?(menu_branch) or descendant_page_selected?(menu_branch) %>><%= link_to menu_branch.title, menu_branch.url %></li>
      <% end %>
    </nav>
<%
  end
end
-%>
