<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include banner.html %}
  
	<section id="content" class="body">
		<h1>{{ page.title }}</h1>
		
	  {{ content }}
	  
	  <br />
	  
	  <h2>Comments</h2>
	  
  	<div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_="{{ page.url }}";
       
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://refinerytutorials.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=refinerytutorials">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">tutorial comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
  
	{% include extras.html %}
	
	{% include footer.html %}

</body>
</html>
